@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

body {
  background-color: black;
  font-family: "Roboto";
}

header img {
  width: 120px;
  padding-left: 50px;
}

h2 {
  color: white;
  font-size: 20px;
  margin: 20px 0;
  padding-left: 50px;
}

.images-container {
  margin-left: 50px;
  display: flex;
  /* width: 341px; */
  height: 123px;
  overflow-x: scroll;
  padding-bottom: 20px;
}
